@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@initial {
  .popupdisplay{
    @apply opacity-0
  }
}

@layer components{
  .navLink {
    @apply hover:underline decoration-orange-400 text-center decoration-2  active:underline underline-offset-8 rounded-full p-4 cursor-pointer hover:font-bold capitalize hover:scale-110 transition-transform duration-200 ease-out;
  }

  .popuphidden {
    @apply opacity-0 hidden transition-all ease-in-out duration-1000
  }

  .popupdisplay {
    @apply opacity-100 block
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eef0f4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a3a7; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a3a7; 
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}