<h1>
    <%= message %>
</h1>
<h2>
    <%= error.status %>
</h2>
<pre><%= error.stack %></pre>
<script>
    import { ApolloSandbox } from '@apollo/sandbox';

    new ApolloSandbox({
        target: '#embedded-sandbox',
        initialEndpoint: 'http://localhost:4000/graphql',
    });
</script>
<div id="embedded-sandbox" />